*{ padding: 0;}
*{text-decoration-line: none;}
body{margin:0;}
.clearfix::after {content:'';display:block;clear:both;}
.row a{text-decoration-line: none;}

.row span{margin-top: 17px;}

.aside{width: 270px; height: 1080px; background: #FFCC00;float: left;}
.aside_top{width: 270px; height: 90px; background: #EF9309; text-align: center; line-height: 90px; font-size: 40px; font-weight: 700;}
.aside_top2{width: 270px; height: 80px; text-align: center; line-height: 90px; font-size: 35px; font-weight: 800;}

.button01{width: 250px; height: 55px; border-radius : 50px; text-align: center; line-height: 55px; font-size: 30px; font-weight: 700; float: left; margin-left: 10px; margin-top: 20px;}
.button01:hover {background: #FFCC00; border : 1px solid #FFCC00;}
.button02{width: 250px; height: 55px; border : 1px solid #FFCC00; border-radius : 50px; text-align: center; line-height: 55px; font-size: 30px; font-weight: 700; float: left; margin-left: 10px; margin-top: 20px;}
.button01 a{text-decoration-line: none;color: #000;}

.top{display: inline-block; margin-right: 10px;margin-top: 50px;}
.top-1{margin-left: 350px; margin-bottom: 10px;}

.category{width: 150px; height: 50px; text-align: center; margin-left: 190px;}
#userid{width: 300px; height: 45px;}
.space{height: 150px;}

.contest_top{width: 1500px; height: 68px;}

table{margin-left:350px; margin-top: 20px;}
.section_contest{height: 68px; text-align: center; line-height: 68px; font-size: 25px; font-weight: 500; float: left; border-top : 3px solid #EF9309; border-bottom : 2px solid #FFCC00;}
.section_contest_1{width: 150px;}
.section_contest_2{width: 150px;}
.section_contest_3{width: 400px;}
.section_contest_3 a{text-decoration-line: none;}
.section_contest_3 a{color: #000;}
.section_contest_3 a:hover{color: blue;}

.section_contest_4{width: 150px;}
.section_contest_5{width: 300px;}

.section_contest_first { height: 58px; text-align: center; line-height: 58px; font-size: 18px; font-weight: 700; float: left; border-bottom : 1px solid #333333;}
.section_contest_two { height: 58px; text-align: center; line-height: 58px; font-size: 18px; font-weight: 400; float: left; border-bottom : 1px solid #333333;}

.center{width:1153px; margin-left: 700px;}

.button{width: 50px; height: 50px; background: #FFCC00; border-radius : 50px; text-align: center; line-height: 50px; font-weight: 600; float: left; transition: all .3s; cursor: pointer; margin-top: 30px;}
.button:hover{background: #181818; color: #ffffff;}
.button_space{vertical-align: auto; margin-right: 30px; margin-bottom: 50px;}

.button2{width: 100px; height: 40px;  text-align: center; border: 1px solid green; border-width: 4px;  float:right; margin-right: 360px;margin-top:50px; line-height: 30px;transition: all .3s;}
.button2 a{text-decoration-line: none;color: #000;}
.button2:hover {background-color: black;}
.button2:hover a {color:white}

.footer {width:100%;height:auto;position:fixed;bottom:0px;background:#EF9309;text-align: left;color: black; text-align: right; margin-bottom: 0px;}