**{ padding: 0;}
*{text-decoration-line: none;}
body{margin:0;width:100%;}
.clearfix::after {content:'';display:block;clear:both;}
.row a{text-decoration-line: none;}

.row span{margin-top: 17px;}

.under-line {width:100%;background-color: rgb(206, 201, 201);height:2px;}
.line-gap {margin-bottom:100px;}
/* ----------------------------------------------------------------------- */
.aside{width: 270px; height: 1080px; background: #FFCC00;float: left;}
.aside_top{width: 270px; height: 90px; background: #EF9309; text-align: center; line-height: 90px; font-size: 30px; font-weight: 700;}
.aside_top2{width: 270px; height: 80px; text-align: center; line-height: 90px; font-size: 35px; font-weight: 800;}

#section {width:79.6%;float: left;}
#section .wrap {width:100%;}
#section .wrap .gap {width:80%;margin:0 auto;}

#section .wrap .gap .content {width:100%;}
#section .wrap .gap .content .title {width:100%;}

#section .wrap .gap .content .small-title {width:100%;}
#section .wrap .gap .content .small-title > p {color:#000; font-size:14px; font-weight: 700; }
#section .wrap .gap .content .small-title > p > span{color:rgba(0, 0, 0, .2);}

#section .wrap .gap .content .container {width:100%;height:300px;}
#section .wrap .gap .content .coment-count {width:100%;}
#section .wrap .gap .content .coment-count > p {color:#000;font-weight: 700;font-size: 15px;}

#section .wrap .gap .content .coment {width:100%;}
#section .wrap .gap .content .coment .name {width:20%;float: left; line-height: 40px;color:#000;font-weight: 700;}
#section .wrap .gap .content .coment .text-wrap {width:60%;float: left;line-height: 40px; color:rgba(0,0,0,.7); font-weight: 500;}
#section .wrap .gap .content .coment .date-wrap {width:20%;float: left;line-height: 40px; color:rgba(0,0,0 , .2);font-weight: 500;}

#section .wrap .gap .content form {width:100%;}
#section .wrap .gap .content form > .name {width:10%;font-size:14px;float:left;margin-lefT:10px; margin-top:10px;}
#section .wrap .gap .content form textarea {width:55%;font-size:14px;float:left; margin:10px 0;height:130px;}
#section .wrap .gap .content form .comment_button {width:7%;font-size:14px;float:left;margin:70px 0 70px 20px;}
#section .wrap .gap .content form .menu_button {width: 10%; font-size:14px;float:left; margin: 130px 0 20px 150px; }
#section .wrap .gap .content form button {border: 4px solid green;}
#section .wrap .gap .content form button a{text-decoration-line: none; color: #000;}
#section .wrap .gap .content form button a:hover {color:white; text-decoration-line:none;}
#section .wrap .gap .content form button:hover {background-color: black;}
/* #section .wrap .gap .content form button hover a {color:white; text-decoration-line:none;} */


.footer {width:100%;height:auto;position:fixed;bottom:0px;background:#EF9309;text-align: left;color: black; text-align: right;margin-bottom: 0px;}