.bg-yellow {
     background: #FFCC00;
   }
   
   *{
     
     
     font-family: Roboto;
     
     
     color: #000000;
     
   }
   .logo {
     text-align: center;
     
     font-size: 36px;
     font-style: italic;
     font-weight: 500;
     
     
   }

   .sublogo {
    text-align: center;
    
    font-size: 22px;
    
    font-weight: 550;
    
    
  }
  a{
    color : black;
  }
  a:hover {
 
    color: blue;
  }
   
   .title {
     text-align: center;
     font-style: normal;
     font-weight: bold;
     font-size: 36px;
     
     background: #EF9309;
   }
   .menu-item {
     text-align: center;
     font-size: 18px;
     font-weight: bold;
   }

   .menu-item-selected {
    
     color: #000AFF;
   } 

   html, body {
    width :100%;
    height:1050px;
    overflow: hidden;
  }
   .root {
     height: 100%;
     padding: 0;
   }
   .main {
     height: 86.5%;
   }
   .footer {
     width: 100%;
     height: 3%;
     padding: 0;
     text-align: right;
   }
   .sidebar-bapmakja {
     padding: 0
   }
   .footer-text {
     
     font-family: Roboto;
     font-style: italic;
     font-weight: 500;
     font-size: 22px;
     
     
     
     color: #000000;
     
   }
   .page-item {
     width: 49px;
     height: 45px;
     background: #FFCC00;
     display:inline-block;
     border-radius : 50px;
     line-height: 50px;
   }
   .page-item:hover {
     background: #181818; 
     color: #ffffff;
   }


   .recipe-item {
     margin-left: 30px;
     font-size: 24px;
   }
   .recipe-sub-item {
     margin-left: 30px;
     color: #747474;
     font-size: 18px;
   }
   
   .list-item {
     
     font-size: 24px;
   }
   .main-scroll {
     overflow-y: scroll;
     height: 100%;
   }

   .start-line {
    border-top: 3px solid #EF9309;
   }

   .end-line {
     border-top: 3px solid #9c5e02;
   }
   .big-font {
     font-weight: 600;
     font-size: 28px;
   }

   .mid-font {
     font-weight: 600;
     font-size: 20px;
   }

   a:link {
    text-decoration: none;
   }

   .sales-config {
    
    font-weight: bold;

    color: #210EFE;
   }

@font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 100;
    src: url(../font/Roboto-Thin.woff2) format('woff2'),
         url(../font/Roboto-Thin.woff) format('woff'),
         url(../font/Roboto-Thin.otf) format('opentype');}
  @font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 300;
    src: url(../font/Roboto-Light.woff2) format('woff2'),
         url(../font/Roboto-Light.woff) format('woff'),
         url(../font/Roboto-Light.otf) format('opentype');}
  @font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 400;
     src: url(../font/Roboto-Regular.woff2) format('woff2'),
          url(../font/Roboto-Regular.woff) format('woff'),
          url(../font/Roboto-Regular.otf) format('opentype'); }
  @font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 500;
     src: url(../font/Roboto-Medium.woff2) format('woff2'),
          url(../font/Roboto-Medium.woff) format('woff'),
          url(../font/Roboto-Medium.otf) format('opentype'); }
  @font-face {   font-family: 'Roboto';   font-style: normal;   font-weight: 700;
     src: url(../font/Roboto-Bold.woff2) format('woff2'),
          url(../font/Roboto-Bold.woff) format('woff'),
          url(../font/Roboto-Bold.otf) format('opentype'); }

          