* {padding: 0;}
* {text-decoration-line: none;}

body {margin: 0;}
.clearfix::after {content: '';display: block;clear: both;}
.row span {margin-top: 17px;width: 180px;font-size: 15px;}
.img-fluid {width: 45px;height: 45px;}
.row .col-2 menu-item {color: black;}



.aside {width: 340px;height: 1200px;background: #FFCC00;float: left;}
.aside_top {width: 340px;height: 90px;background: #EF9309;text-align: center;line-height: 90px;font-size: 40px;font-weight: 700;}
.aside_top2 {width: 340px;height: 80px;text-align: center;line-height: 90px;font-size: 35px;font-weight: 800;}

.button01 {width: 250px;height: 55px;background: #FFCC00;border: 1px solid #FFCC00;border-radius: 50px;text-align: center;line-height: 55px;font-size: 30px;font-weight: 700;float: left;margin-left: 10px;margin-top: 20px;}
.menu-item a:hover{color: blue;}

.top {display: inline-block;margin-right: 10px;}
.top-1 {margin-left: 430px;margin-bottom: 10px; margin-top: 100px;}

.category {width: 150px;height: 50px;text-align: center;margin-left: 190px;}
#userid {width: 300px;height: 45px;}
.space {height: 150px;}

.contest_top {width: 1500px;height: 68px;}

table {margin-left: 430px; margin-top: 15px;}
.section_contest {height: 68px;text-align: center;line-height: 68px;font-size: 20px;font-weight: 500;float: left;border-top: 3px solid #EF9309;border-bottom: 2px solid #FFCC00;}
.section_contest_1 {width: 150px;}
.section_contest_2 {width: 150px;}
.section_contest_3 {width: 250px;}
.section_contest_3 a {text-decoration-line: none;color: black;}
.section_contest_3 a:hover {text-decoration-line: none;color: blue;}
.section_contest_4 {width: 150px;}
.section_contest_5 {width: 250px;}
.section_contest_6 {width: 250px;}

.section_contest_first {height: 58px;text-align: center;line-height: 58px;font-size: 18px;font-weight: 700;float: left;border-bottom: 1px solid #333333;}
.section_contest_two {height: 58px;text-align: center;line-height: 58px;font-size: 18px;font-weight: 400;float: left;border-bottom: 1px solid #333333;}

.center {width: 1153px;margin-left: 770px; margin-top: 30px;}

.button {width: 50px;height: 50px;background: #FFCC00;border-radius: 50px;text-align: center;line-height: 50px;font-weight: 600;float: left;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 30px;
}
.button:hover {
    background: #181818;
    color: #ffffff;
}
.button_space {
    vertical-align: auto;
    margin-right: 30px;
}

.button2 {
    width: 100px;
    height: 40px;
    text-align: center;
    border: 1px solid green;
    border-width: 4px;
    float: right;
    margin-right: 360px;
    margin-top: 50px;
    line-height: 30px;
    transition: all 0.3s;
    text-decoration-line: none;
}
.button2:hover {
    background-color: black;
}
.button2:hover a {
    color: white;
    text-decoration-line: none;
}
.button2 a {
    text-decoration-line: none;
    color: #000;
}

.footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background: #EF9309;
    text-align: left;
    color: black;
    text-align: right;
    margin-bottom: 0;
}