*{ padding: 0;}
*{text-decoration-line: none;}
body{margin:0;}
.clearfix::after {content:'';display:block;clear:both;}
.row span{margin-top: 17px; width: 180px; font-size: 15px;}

.img-fluid{width: 49px; height: 49px;}

.aside{width: 340px; height: 1200px; background: #FFCC00;float: left;}
.aside_top{width: 340px; height: 90px; background: #EF9309; text-align: center; line-height: 90px; font-size: 40px; font-weight: 700;}
.aside_top2{width: 340px; height: 80px; text-align: center; line-height: 90px; font-size: 35px; font-weight: 800;}

.button01{width: 250px; height: 55px; background: #FFCC00; border : 1px solid #FFCC00; border-radius : 50px; text-align: center; line-height: 55px; font-size: 30px; font-weight: 700; float: left;margin-left: 10px; margin-top: 20px;}


.wrapper{width: 1300px;float:left; margin-top: 150px;}
.content{width: 830px; height: 50px;margin: 0 auto;}
.content2{width: 830px; height: 400px;margin: 0 auto;}
.button2{width: 830px; height: 100px; margin: 0 auto;}

.text1{width: 400px; height: auto;}
.content3{margin-left: 330px;}
.content-1{float: left;}
.content2-1{width: 500px; margin-top: 50px;}
button{width: 100px;height: 30px; float: right;}
.as{width: 80px; float: left;}
.ass{width: 700px; float: left;}

.footer {width:100%;height:auto;position:fixed;bottom:0px;background:#EF9309;text-align: left;color: black; text-align: right; margin-bottom: 0px;}