html, body {margin:0; padding:0; width:100%; height:100%; background-color: #fff; font-family: 'NSG R' !important; margin:0; color: #333333;} 
ul {list-style: none; margin:0; padding:0;}

input, button {outline: none; border:none; color:#333333;}
input::placeholder, textarea::placeholder {color:#d2d2d2; word-break: keep-all;}

input[type=text], input[type=password] {border:none; height: 48px; font-size: 16px; vertical-align: top; font-family: 'NSG R' !important; border-radius:5px;}
textarea {width:99%; border:1px solid #aeaeae; font-size: 16px; font-family: 'NSG R' !important; outline: none; resize: none; line-height: 24px; min-height: 100px;}

a {text-decoration: none; color:#333333;}
a, span {display:inline-block;}
p {margin:0; padding:0;}
a, span, p {word-break: break-all;}
a, button, span, input, ul, li, div {-webkit-tap-highlight-color : transparent; }
table {border-spacing: 0; border-collapse:collapse;}
select{appearance: none; border:none; background:none;}

dl,dd,dt{margin:0; padding:0;}
