/* * {margin: 0; padding: 0;} */

body {min-width: 1650px;}
body,html {margin: 0 auto;}

/* header{ width: 1920px; height: 300px; background-color: #FFCC00;
display: flex; justify-content: center; position: relative; margin: 0 auto;}

button {border: none;}

a {list-style: none; text-decoration: none; color: #fff;}
a:hover {color: black;} */

/* .head { width: 1440px; margin: 0 auto;
    }

    
.right{width: 1440px; height: 100px;}

.logo {float: left; margin-left: 50px; margin-top: 15px; font-size: 30px; font-weight: bold;}

.sq { float: right; }

.logout {float: left; margin-top: 15px; margin-right: 50px; line-height: 30px;
    font-size: 18px;}
    
.sq img {width: 30px; height: 30px; margin-top: 15px; margin-right: 50px;} */
    
    /* ----------------------------------- */
    
/* .title {clear: both; width : 1440px; font-size: 25px; font-weight: 550; text-align: center;}
    
.searchbox { width:600px; height: 50px; background-color: white; border-radius: 30px;
        margin: 0 auto; margin-top: 20px;} */
        
        /* ----------------------------------- */
        
/* .nav {width: 1440px; display: flex; justify-content: center;
font-size: 20px; font-weight: 900; position: absolute;bottom: 0; margin-bottom: 30px;}
            
.a {width: 200px; height: 20px; text-align: center;} */
            
/* ----------------------------------- */
/* body,html {margin-left: 7px !important;} */
/* header, footer {margin-left: 7px !important;} */


#main button:hover{background-color: orange; color: black; font-weight: bolder;}

#main {width: 1650px; height:1000px; background-color: white; }

.eatselect { position: relative; width: 1440px; height: 50px; display: flex ; flex-direction: row; position: relative;
    left: 50px; top: 30px; margin: 0 auto;}

.bp { width: 100px; height: 30px; border-radius: 30px; background-color: aquamarine;
    font-size: 15px; font-weight: 600; color: white; text-align: center; line-height: 2; float: left; visibility: hidden;}

.or { width : 100px; height: 30px; border-radius: 30px; background-color: red;
    font-size: 15px; font-weight: 600; color: white; text-align: center; line-height: 2; visibility: hidden;
    margin-left: 10px; float: left;}

.menupan { text-align: center; margin: 0 auto;
    font-size: 50px; font-weight: 700; position : absolute; left: 0; right: 0; margin-top: 20px; margin-right: 200px;}

/* ----------------------------------- */
.section {float: right; width: 400px; height: 100%; margin-right: 50px;}
.section table{position: sticky; right: 200px; top: 260px; border-collapse: collapse; z-index: 1; }

.section caption {height: 50px; font-size: 20px; font-weight: 600;}

.section .allmenu {height: auto;}
.section .menuprice {height: auto;}

.section td{ width: 100px; height: 60px; text-align: center; font-size: 18px; background-color: cornsilk; border: 1px solid black;}

.section .emp { border: 1px solid white; background:none; height: 30px; border: none;}

.section .execute {border: none; background-color: red; color: white; font-size: 20px;
font-weight: 500;}
.section .button2 { width: 400px; height: 60px;text-align: center; line-height: 1.6; font-size: 25px; color: #fff; background-color : red; opacity: 88%;}


/* ----------------------------------- */

.allsection {position: relative; width: 1440px; height: 900px;
    top: 150px; left : 50px;}  

.section1 { width: 1000px; height: 250px;  margin-top: 20px;}

.pic {width: 200px; height: 200px; background-color: indigo; float: left;}

.menu1 {float: left; margin-top: 70px; margin-left: 100px; font-size: 30px; font-weight: 400;}
.menu2 {float: left; margin-top: 70px; margin-left: 100px; font-size: 30px; font-weight: 400;}
.menu3 {float: left; margin-top: 70px; margin-left: 100px; font-size: 30px; font-weight: 400;}

.price1 {float: left; margin-top: 70px; margin-left: 10px; font-size: 30px; font-weight: 400;}
.price2 {float: left; margin-top: 70px; margin-left: 10px; font-size: 30px; font-weight: 400;}
.price3 {float: left; margin-top: 70px; margin-left: 10px; font-size: 30px; font-weight: 400;}

.damgi {float: right; width: 150px; height: 60px; background-color: red;text-align: center; font-size: 22px; color: white; line-height: 2.6;
    margin-top: 140px; border: none;
}

.cancel {float: right; width: 150px; height: 60px; background-color:gray;text-align: center; font-size: 22px; color: white; line-height: 2.6;
    margin-top: 140px; margin-left: 20px;
}


.section1 .menuTablecall_td { background-color: cyan; color: black;}

.section1 .menuTable_td {display: block;  background-color: cyan; color: black;}
.section1 .menuTable_td:hover {background-color:orangered ;color: white;}

.section2 { width: 1000px; height: 250px; background-color: grey; margin-top: 20px;}

/* .section_allprice { width: 800px; height: 70px; background-color: grey; margin-top:20px;} */






/* footer {clear: both; margin: 200px auto 0 auto ;width: 100%; height: 300px;  text-align: left; background-color: #FFCC00;
    display: flex; justify-content: center;}

.foot {margin-top: 30px; margin: 0 auto;} */

/* .section3 {font-size: 10px;background: #000;} */

/* /* footer {width: 1650px; height: 200px;  text-align: left; background-color: #FFCC00; display: flex; justify-content: center; margin: 0 auto;} */
    
/* .foot {width: 1650px; margin-top: 30px;} */ 


/* -------------모달창----------- */

.bg {background-color: black; opacity: 70%; position: fixed; width: 100%; height: 100%; z-index: 1;  top:0;
    left:0;
    right:0;
    bottom:0; display: none;}

.menuwrap {display: none; position: fixed; width: 800px; height: auto; z-index: 2; top: 50%; left: 50%; transform:translate(-50%, -50%); background-color: white;}

.menuwrap a {list-style: none; text-decoration: none; color: #fff;}

.menuwrap a:hover,.menuwrap a:active {text-decoration: none; color:black;}

/* .menuwrap {width: 800px; height: 1300px;margin: 0 auto;} */

.menuwrap .top {width: 800px; height: 80px; font-size: 50px; text-align: center;}

.menuwrap .pict {width: 800px;height: 300px; background-color: crimson;}

.menuwrap .menuname { width: 800px; height: 60px; margin: 0 auto; text-align: center;
font-size: 30px;}

.menuwrap .section1 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px;}

.menuwrap .price { float: right; width: 200px; height: 70px; /* background-color: darkseagreen */}

.menuwrap .about {width: 800px; height: 100px; text-align: center; line-height: 10; background-color: white;/* background-color: darkgreen; */}

.menuwrap .section2 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff; }

/* .menuwrap .spinner { float: right; width: 200px; height: 70px; background-color: darkblue;} */

.menuwrap .section3 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff;}

/* .menuwrap .allprice { float: right; width: 200px; height: 70px; background-color:darkkhaki;} */

.menuwrap .add {float: left; text-align: center; font-size: 30px;
   width: 400px; height: 70px; background-color: deeppink; color: #fff; line-height: 2.5; margin-top: 20px;}

.menuwrap .order {float: right;font-size: 30px;
    text-align: center; width: 400px; height: 70px; background-color:red; color: #fff; line-height: 2.5; margin-top: 20px;}

  /* ------------------------------------------------   */

.bg2 {background-color: black; opacity: 70%; position: fixed; width: 100%; height: 100%; z-index: 3;  top:0;
    left:0;
    right:0;
    bottom:0; display: none;}

.menuwrap2 {display: none; position: fixed; width: 800px; height: auto; z-index: 4; top: 50%; left: 50%; transform:translate(-50%, -50%); background-color: white;}

.menuwrap2 a {list-style: none; text-decoration: none; color: #fff;}

.menuwrap2 a:hover,.menuwrap a:active {text-decoration: none; color:black;}

/* .menuwrap {width: 800px; height: 1300px;margin: 0 auto;} */

.menuwrap2 .top {width: 800px; height: 80px; font-size: 50px; text-align: center;}

.menuwrap2 .pict {width: 800px;height: 300px; background-color: crimson;}

.menuwrap2 .menuname { width: 800px; height: 60px; margin: 0 auto; text-align: center;
font-size: 30px;}

.menuwrap2 .section1 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px;}

.menuwrap2 .price { float: right; width: 200px; height: 70px; /* background-color: darkseagreen */}

.menuwrap2 .about {width: 800px; height: 100px; text-align: center; line-height: 10; background-color: white;/* background-color: darkgreen; */}

.menuwrap2 .section2 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff; }

/* .menuwrap2 .spinner { float: right; width: 200px; height: 70px; line-height: 2.5; font-size: 30px;} */

.menuwrap2 .section3 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff;}

/* .menuwrap2 #allprice { float: right; width: 200px; height: 70px; background-color:darkkhaki;} */

.menuwrap2 .add {float: left; text-align: center; font-size: 30px;
   width: 400px; height: 70px; background-color: deeppink; color: #fff; line-height: 2.5; margin-top: 20px;}

.menuwrap2 .order {float: right;font-size: 30px;
    text-align: center; width: 400px; height: 70px; background-color:red; color: #fff; line-height: 2.5; margin-top: 20px;}

  /* ------------------------------------------------   */
  
.bg3 {background-color: black; opacity: 70%; position: fixed; width: 100%; height: 100%; z-index: 5;  top:0;
    left:0;
    right:0;
    bottom:0; display: none;}

.menuwrap3 {display: none; position: fixed; width: 800px; height: auto; z-index: 6; top: 50%; left: 50%; transform:translate(-50%, -50%); background-color: white;}

.menuwrap3 a {list-style: none; text-decoration: none; color: #fff;}

.menuwrap3 a:hover,.menuwrap a:active {text-decoration: none; color:black;}

/* .menuwrap {width: 800px; height: 1300px;margin: 0 auto;} */

.menuwrap3 .top {width: 800px; height: 80px; font-size: 50px; text-align: center;}

.menuwrap3 .pict {width: 800px;height: 300px; background-color: crimson;}

.menuwrap3 .menuname { width: 800px; height: 60px; margin: 0 auto; text-align: center;
font-size: 30px;}

.menuwrap3 .section1 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px;}

.menuwrap3 .price { float: right; width: 200px; height: 70px; /* background-color: darkseagreen */}

.menuwrap3 .about {width: 800px; height: 100px; text-align: center; line-height: 10; background-color: white;/* background-color: darkgreen; */}

.menuwrap3 .section2 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px; background: #fff; }

.menuwrap input{ float: right; width: 60px; height: 30px; font-weight: bold; line-height: 2.5; font-size: 20px; margin-right: 120px; margin-top: 30px; text-align: center; background-color:lightpink;}
.menuwrap2 input{ float: right; width: 60px; height: 30px; font-weight: bold; line-height: 2.5; font-size: 20px; margin-right: 120px; margin-top: 30px; text-align: center; background-color:lightpink;}
.menuwrap3 input{ float: right; width: 60px; height: 30px; font-weight: bold; line-height: 2.5; font-size: 20px; margin-right: 120px; margin-top: 30px; text-align: center; background-color:lightpink;}

.menuwrap3 .section3 {width: 800px; height: 70px; line-height: 2.5; font-size: 30px ; background: #fff;}

.allprice { float: right; width: 200px; height: 70px;}

.menuwrap3 .add {float: left; text-align: center; font-size: 30px;
   width: 400px; height: 70px; background-color: deeppink; color: #fff; line-height: 2.5; margin-top: 20px;}

.menuwrap3 .order {float: right;font-size: 30px;
    text-align: center; width: 400px; height: 70px; background-color:red; color: #fff; line-height: 2.5; margin-top: 20px;}









