.logo {
    font-size: 35px;
    color: #181818;
}
#icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 20px;
}
.sq {
    float: right;
    margin-right: -10px;
}

.join {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 18px;
}

.logout {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 18px;
}
.login {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 18px;
}

.mypage {
    display: inline-flex;
}

.title {
    font-weight: bolder;
    font-size: 38px;
}

.searchbox {
    display: inline-flex; 
}

#icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 20px;
}
.searchpoint {
    display: block;
    width: 495px;
    margin-top: 1px;
    border: none;
}
a {text-decoration: none; color: black;}
/*==========ν—¤λ”============================*/
/*======ν‘Έν„°=============================*/
#footlim{width: 1650px;float: left; }
html, body{
    margin:0; 
    padding:0; 
    font-size: 100%;
    width:100%; 
    height:100%; 
    background-color: #fff; 
    font-family: 'NSG R' !important; 
    margin:0; 
    color: #333333;
} 

body{
  font: inherit;	
  vertical-align: baseline;
  line-height: 0.85; 
}
footer{
    font-size: 100%;
    font-size: 19px;
    height: 21%;
}
/*-================================--*/
#overlap+ label {
    border: 1px solid #d9e1e8;
    background-color: #ffcc00;
    color: black;
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
    font-weight: 700;
    font-size: 13px;
    box-shadow: 1px 2px 3px 0px #f2f2f2;
    outline: none;
    cursor: pointer;
}
.btn {
    width:200px;
    height: 50px;
    background-color:#ffcc00;
    border: 0;
    cursor: pointer;
    color: black;
    font-size: 30px;
    border-radius: 30px;
    font-weight: 600;
}
.btn:hover{
    background: #181818; 
    color: #ffffff;
}