.logo {
    font-size: 35px;
    color: #181818;
}
#icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 20px;
}
.sq {
    float: right;
    margin-right: -10px;
}

.join {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 18px;
}

.logout {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 18px;
}
.login {
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 18px;
}

.mypage {
    display: inline-flex;
}

.title {
    font-weight: bolder;
    font-size: 38px;
}

.searchbox {
    display: inline-flex; 
}

#icon {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 20px;
}
.searchpoint {
    display: block;
    width: 495px;
    margin-top: 1px;
    border: none;
}
a {text-decoration: none; color: black;}
/*==========ν—¤λ”============================*/
/*======ν‘Έν„°=============================*/
#footlim{width: 1650px;float: left; }
html, body{
    margin:0; 
    padding:0; 
    font-size: 100%;
    width:100%; 
    height:100%; 
    background-color: #fff; 
    font-family: 'NSG R' !important; 
    margin:0; 
    color: #333333;
} 

body{
  font: inherit;	
  vertical-align: baseline;
  line-height: 0.9; 
}
footer{
    font-size: 100%;
    font-size: 19px;
    height: 22%;
}
/*-================================--*/
#terms{
    width:600px; height:400px; 
    resize: none;
    margin: 80px 100px 30px 550px;
}
.bigbtn {
    width: 300px;
    height: 10px;
    background-color:#ffcc00;
    border: 0;
    color: black;
    font-size: 30px;
    border-radius: 60px;
    font-weight: 600;
    padding: 20px 400px 20px 400px;
    margin-left: 300px;
    margin-top: 30px;
}
.btn {
    width:200px;
    height: 50px;
    background-color:#ffcc00;
    border: 0;
    cursor: pointer;
    color: black;
    font-size: 30px;
    border-radius: 30px;
    font-weight: 600;
}
.btn:hover{
    background: #181818; 
    color: #ffffff;
}
    