@charset "utf-8";

.body {
    margin-right: 33%;
    margin-bottom: 3%;
    margin-top: 1%;
    height: 1000px;
}

.how_eat {
    display: inline-flex;
}

.home_eat {
    background: red;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 15px;
}

.home_eat:hover {
    opacity: 60%;
}

.on{
	background: red;
}

.off{
	background: gray;
}

.store_eat {
    background: gray;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 15px;
    opacity: 30%;
}

.store_eat:hover {
    opacity: 60%;
}

.acolist {
    width: 350px;
    height: 40px;
    text-align: center;
    border: 2px solid black;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
}

iframe {
    border: 5px solid #ffcc00;
    position: absolute;
    margin-top: 115px;
    margin-left: -100px;
}

.frame {
    border: 5px solid #ffcc00;
    position: absolute;
    margin-top: 115px;
    margin-left: -100px;
    width: 710px; 
    height: 700px;
}

.store_list_title {
    font-size: 30px;
    font-weight: bolder;
}

.store {
    margin-right: 250px;
    margin-bottom: 30px;
}

#store_photo_choice {
    height: 200px;
    margin-right: 50px;
    float: left;
}

#store_photo_choice:hover {
    opacity: 60%;
}

.restaurants-info {
    font-size: 20px;
    float: left;
    margin-bottom: 27px;
}

.restaurant-name {
    font-weight: bolder;
    font-size: x-large;
    float: left;
    margin-right: 10px;
}

.congestion {
    margin-bottom: 25px;
    float: left;
}

#congestion {
    background: orangered;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: small;
}

.choice {
    margin-top: 15px;
}

.store_choice {
    background: orange;
    color: white;
    border-radius: 10px;
    padding: 5px 55px;
    margin-bottom: 23px;
}

.store_choice:hover {
    opacity: 60%;
}

.page_Number {
    background: #ffcc00;
    border-radius: 100%;
    padding: 9px 15px;
    font-size: 23px;
    font-weight: bold;
    margin-right: 30px;
}

.page_Number:hover {
    opacity: 60%;
}